/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "partials";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/hyphenation";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import "compass/reset";

html {
  overflow-y: scroll;
}


.bb {
  color:            $body-color;
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size:        1em;
  line-height:      normal;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }
  @import "ui-kit";

  header {
    background: none repeat scroll 0% 0% #C7D6EB;

    h3 {
      color:       #61728C;
      font-size:   1.2em;
      line-height: 70px;
      padding:     0px 25px;
    }
  }

  .wrapper {
    padding: 25px 25px 0;
  }

  .main-nav {
    background: none repeat scroll 0 0 $bg-darker;
    padding:    5px 5px 0;
    @include clearfix();
    ul {
      padding: 0;
      margin:  0;
    }
    li {
      float:      left;
      list-style: none outside none;
      padding:    6px 22px 12px;
      a {
        color:       $bg-darker-link-color;
        font-size:   0.8em;
        font-weight: bold;
      }
      &.active,
      &:hover {
        a {
          color: $body-color;
        }
      }
      &.active {
        border-color:  transparent;
        border-image:  none;
        border-style:  solid solid none;
        border-width:  1px;
        background:    none repeat scroll 0 0 #FFFFFF;
        margin-bottom: -1px;
      }
    }
  }

  .nv-x .tick  line,
  .nv-y .nv-axis path {
    display: none;
  }

  .nvd3 .nv-groups path.nv-line {
    stroke-width: 3.5px;
  }

  svg text {
    font-size: 0.8em;
    fill: #858C96;
    font-family: 'Open Sans', sans-serif;
  }

  table td.url {
    color: #4087E3;
  }

  @import "gridism";
}
